In [1]:
import pandas as pd

### 1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

In [2]:
data = pd.read_csv('Laliga.csv',skiprows=1)
data.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

I am skipping the first row because , the correct headers are in second row

In [4]:
#checking for nan or ''-' if there any iam going to replace with zero
data.isin(['-']).any()

Pos              False
Team             False
Seasons          False
Points            True
GamesPlayed       True
GamesWon          True
GamesDrawn        True
GamesLost         True
GoalsFor          True
GoalsAgainst      True
Champion          True
Runner-up         True
Third             True
Fourth            True
Fifth             True
Sixth             True
T                 True
Debut            False
Since/LastApp    False
BestPosition     False
dtype: bool

There are columns which has '-' , so lets change to zer0

In [5]:
data.replace('-' , 0 , inplace = True)

### 2.Print all the teams which have started playing between 1930-1980. (5 points)

This dataset contains lots of NaN lets replace them by using median

In [18]:
median_debut = data['Debut'].mean()
data['Debut'].fillna(median_debut, inplace=True)

In [20]:
# Converted 'Debut' column to numeric, replacing any invalid parsing with NaN
data['Debut'] = pd.to_numeric(data['Debut'], errors='coerce')
teams_1930_1980 = data[(data['Debut'] >= 1930) & (data['Debut'] <= 1980)]
print(teams_1930_1980['Team'])

Series([], Name: Team, dtype: object)

this dataset has no team debuted during 1930-1980

### 3.Print the list of teams which came Top 5 in terms of points (2.5 points)

In [23]:
data['Points'] = pd.to_numeric(data['Points'], errors='coerce')
top_5_teams = pd.DataFrame(data.nlargest(5, 'Points'))
print(top_5_teams[['Team', 'Points']])

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

These are the top 5 teams in terms of points

### 4. Write a function Goal_diff_count and find the teams with maximum and minimum goal difference (5 points)

In [32]:
def Goal_diff_count(df):
    df['GoalsFor'] = pd.to_numeric(df['GoalsFor'], errors='coerce').fillna(0)
    df['GoalsAgainst'] = pd.to_numeric(df['GoalsAgainst'], errors='coerce').fillna(0)
    
    df['GoalDifference'] = df['GoalsFor'] - df['GoalsAgainst']
    
    return df[['Team', 'GoalDifference']]

laliga = Goal_diff_count(data)

max_goal_team = data.loc[[data['GoalDifference'].idxmax()]]  
min_goal_team = data.loc[[data['GoalDifference'].idxmin()]]  
print("Team with Maximum Goal Difference:")
print(max_goal_team.to_string(index=False))  

print("\nTeam with Minimum Goal Difference:")
print(min_goal_team.to_string(index=False))

Team with Maximum Goal Difference:
 Pos        Team  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  GoalsFor  GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth  T  Debut Since/LastApp  BestPosition  GoalDifference
   1 Real Madrid       86    4385        2762     1647        552       563      5947          3140       33        23     8      8     3     4 79 1929.0          1929             1            2807

Team with Minimum Goal Difference:
 Pos             Team  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  GoalsFor  GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth T  Debut Since/LastApp  BestPosition  GoalDifference
  14 Racing Santander       44    1416        1428      453        336       639      1843          2368        0         1     1      2     0     1 5 1929.0       2011-12             2            -525

### 5.Create a new column "Winning Percent" and print the top 5 teams with the highest percentage (5 points)

In [33]:
data['GamesWon'] = pd.to_numeric(data['GamesWon'], errors='coerce')
data['GamesPlayed'] = pd.to_numeric(data['GamesPlayed'], errors='coerce')

data['WinningPercent'] = (data['GamesWon'] / data['GamesPlayed']) * 100

data['WinningPercent'].fillna(0, inplace=True)

top_5_winning = data.nlargest(5, 'WinningPercent')
print(top_5_winning[['Team', 'WinningPercent']])

              Team  WinningPercent
0      Real Madrid       59.630702
1        Barcelona       57.241130
2  Atletico Madrid       47.475134
3         Valencia       44.557057
4  Athletic Bilbao       43.772629

### 6. Group teams based on their "Best position" and print the sum of their points (10 points)

In [34]:
data['BestPosition'] = pd.to_numeric(data['BestPosition'], errors='coerce')

grouped_points = data.groupby('BestPosition')['Points'].sum().reset_index()

print(grouped_points)

    BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34